@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

:root{
--cor-principal: #8E0000;
--cor1: #951A00;
--cor2: #CF2124;
--cor3: #F5F5A4;
--preto: #000000;
--branco: #ffffff;
}

body {font-size: 1rem;
    font-family: 'Grenze Gotisch'; /*nome da fonte do krl, pika, foda, linda*/
    ;}

    #contato {
        background:  var(--cor-principal);
        background-size: cover;
        padding: 4rem 0;
    }

    .formulario {
        background-color: var(--branco);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0 10px  rgba(0, 0, 0, 1);
        font-weight: bold;
    }

    .formulario button {
        background-color: var(--cor3);
        border: none; 
        font-weight: bold;
    }

    .form-control {
        background-color: var(--cor2);
    }